.marker {
    width: 100px;
    text-align: center;
    p {
        font-weight: bold;
        margin: 0;
    }
    overflow: hidden;
    img {
        border-radius: 50%;
        border: 1px solid black;
        width: 30px;
        height: 30px;
    }
}