.company-item {
    margin-bottom: 5px;
    &:nth-child(odd) {
        background: white;
    }
    &:nth-child(even) {
        background: white;
    }
    .list-view {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
        display: flex;
        align-items: center;
        padding: 10px;

        img {
            overflow: hidden;
            width: 50px;
            height: 50px;
        }
    }
}