@import "normalize.css";
@import "~static/css/variables.scss";

body {
    font-family: 'Roboto', sans-serif;
    background: $background;
    margin: 0;
    main {
        display: flex;
        height: 90vh;
    }
}